
.entirePage {
    background-color: #79b096;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

html, body {
    margin: 0;
    min-height: 100vh;
}

.page {
    display: flex;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding-top: 0px;
    padding-bottom: 20px;
    padding: 20px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-left: 1%;
    width: 200px;
}

.contentChild {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.cardImage {
    width: 250px;
    height: 250px;
    border-radius: 15%;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: aliceblue;
    padding: 20px;
    padding-bottom: 20px;
    margin: 30px;
    border-radius: 10%;
    height: 420px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    width: 350px;
}


.navButton, .searchBar {
    text-decoration: none;
    background-color: aliceblue;
    padding: 20px 30px;
    width: 100%;
    border: none;
    background-color: rgb(174, 158, 255);
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.searchBar {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

.heading {
    align-self: center;
    text-align: left;
    background-color: aliceblue;
    width: 100%;
    padding: 0px;
    padding-left: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.cardTitle {
    padding-top: 10px;
    font-size: larger;
    text-align: center;
    font-weight: 700;
}

.cardDesc {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    text-align: center;
}

.logo {
    width: 140px;
    margin: 0px;
    margin-left: 23px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(137, 118, 231);
    margin: 15px;
    margin-left: 40px;
}

.topTitle {
    font-size: 50px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    justify-self: flex-end;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
}

.favorite, .showReviews {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(174, 158, 255);
    border: none;
    padding: 5px 10px;
    border-radius: 5%;
}

.favorite:hover, .showReviews:hover, .navButton:hover , .searchBar:hover {
    background-color: rgb(137, 118, 231);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(45, 44, 44);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 3em;
    flex-shrink: 1;
 }

 .footer * {
    font-size: x-large;
    font-weight: 600;
 }

 .newBookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
 }

 .newBook {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.link {
    margin-left: 80px;
    margin-right: 0px;
}