
.entirePage {
    background-color: #79b096;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
}

html, body {
    margin: 0;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding-top: 0px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-left: 1%;
    width: 200px;
}

.contentChild {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.cardImage {
    width: 250px;
    height: 250px;
    border-radius: 15%;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    margin: 30px;
    border-radius: 10%;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.navButton, .searchBar {
    text-decoration: none;
    background-color: aliceblue;
    padding: 20px 30px;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.searchBar {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}

.heading {
    align-self: center;
    text-align: left;
    background-color: aliceblue;
    width: 100%;
    padding: 25px;
    padding-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.cardTitle {
    font-size: x-large;
}

.cardDesc {
    font-size: larger;
}

.logo {
    width: 140px;
    margin-left: 23px;
    border-radius: 50%;
}

.topTitle {
    font-size: 50px;
}